.App {
  text-align: center;
  background-color: '#F5F5F5';
}
body{
  font-family: 'Roboto', sans-serif;
  
}
.logo {
  pointer-events: none;
  text-align: center;
}
.logo img{
  width: 40%;
  display: inline-block;
  border-radius: 8px;
}

@media only screen and (min-width:1200px) {
  .logo img{
    width: 20%;
    
  }
}


